PORT=3001
#TODO: Check why the following .env vars do not work without the prefix REACT_APP
REACT_APP_SEMAPHORE_IDENTITY_CONTRACT=
REACT_APP_ETHEREUM_NETWORK = "sepolia"
REACT_APP_INFURA_API_KEY = ""
#TODO: The signer key should come from a vault not from any .env or config file
# This is only for development purposes
REACT_APP_SIGNER_PRIVATE_KEY = ""


REACT_APP_DB_CONN_STRING=""
REACT_APP_DB_NAME=""
REACT_APP_GAMES_COLLECTION_NAME=""

REACT_APP_GROUP_ID = ""
REACT_APP_API_BASE_URL=""